.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../assets/background_tela-de-login.jpeg);
    background-size: cover;
    background-position: center;
    filter: contrast(70%);
    z-index: -1;
}

.container p {
    position: relative;
    z-index: 1;
}
