@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$Rosa-avermelhado: #FB646B;
$Azul-escuro: #171821;
$Cinza: #87888C;
$Branco: #FFFFFF;
$Preto: #000000;
$Inter: "Inter", sans-serif;