<div class="card-agendamento">


<h2>Informação do Agendamento</h2>

<table class="agendamentos">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Data</th>
      <th>Serviço</th>
      <th>Horário</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agendamento of agendamentos">
        <td>{{ agendamento.id }}</td>
        <td>{{ agendamento.nome }}</td>
        <td>{{ agendamento.data  }}</td>
        <td>{{ agendamento.servico }}</td>
        <td>{{ agendamento.horario }}</td>
        <td>R$ {{ agendamento.valor | number:'1.2-2' }}</td>
    </tr>
  </tbody>
</table>
</div>
