<dialog class="modal">
    <div class="modal__info-container">        
        <h2 class="modal__titulo">Informações sobre o agendamento</h2>
        <div class="modal__info-dado">
            <span>Nome completo:</span>
            <span>Daniel</span>
        </div>
        <div class="modal__info-dado">
            <span>Nome completo:</span>
            <span>Daniel</span>
        </div>
        <div class="modal__info-dado">
            <span>Nome completo:</span>
            <span>Daniel</span>
        </div>
        <div class="modal__info-dado">
            <span>Nome completo:</span>
            <span>Daniel</span>
        </div>
        <div class="modal__info-dado">
            <span>Nome completo:</span>
            <span>Daniel</span>
        </div>
    </div>
</dialog>
