<dialog class="modal" open>
    <div class="modal__info-container">        
        <h2 class="modal__titulo">Informações sobre o agendamento</h2>
        <div class="modal__info-dado">
            <span>Atendimento nº:</span>
            <span>{{ agendamentoClicado.id }}</span>
        </div>
        <div class="modal__info-dado">
            <span>Nome completo:</span>
            <span>{{ agendamentoClicado.nome }}</span>
        </div>
        <div class="modal__info-dado">
            <span>Serviço:</span>
            <span>{{ agendamentoClicado.servico }}</span>
        </div>
        <div class="modal__info-dado">
            <span>Data:</span>
            <span>{{ agendamentoClicado.data }}</span>
        </div>
        <div class="modal__info-dado">
            <span>Hora:</span>
            <span>{{ agendamentoClicado.hora }}</span>
        </div>
        <div class="modal__info-dado">
            <span>Profissional:</span>
            <span>{{ agendamentoClicado.profissional }}</span>
        </div>
        <div class="modal__info-dado">
            <span>Preço:</span>
            <span>{{ agendamentoClicado.preco }}</span>
        </div>
    </div>
</dialog>
