<form action="" method="get">

        <!-- Input de seleção de serviços -->
        <label for="service"> Selecione qual serviço deseja contratar </label>
        <select type="select" id="service">
            <option value="corte" selected>Corte de cabelo - R$50,00</option>
            <option value="coloracao">Coloração e Mechas - R$150,00</option>
            <option value="manicure-pedicure">Manicure e Pedicure - R$40,00</option>
            <option value="penteados">Escova e Penteados - R$80,00</option>
            <option value="maquiagem">Maquiagem - R$100,00</option>
            <option value="tratamento">Tratamento Capilar - R$120,00</option>
            <option value="depilacao">Depilação - R$70,00</option>
        </select>

        <!-- Input de seleção de data para o atendimento -->
        <label for="data"> Selecione o melhor dia para atendimento </label>
        <input type="date" id="data">

        
</form>