<section class="section-form">  

    <h2>Agende seu atendimento</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" method="get" id="form-select">
        
        <!-- Input de seleção de serviços -->
        <fieldset class="style-forms">         
            <label for="service"> Serviço: </label>
            <select id="service" formControlName="service">
                <option value="corte" selected>Corte de cabelo - R$50,00</option>
                <option value="coloracao">Coloração e Mechas - R$150,00</option>
                <option value="manicure-pedicure">Manicure e Pedicure - R$40,00</option>
                <option value="penteados">Escova e Penteados - R$80,00</option>
                <option value="maquiagem">Maquiagem - R$100,00</option>
                <option value="tratamento">Tratamento Capilar - R$120,00</option>
                <option value="depilacao">Depilação - R$70,00</option>
            </select>
        </fieldset>

        <!-- Input de seleção de data para o atendimento -->
        <fieldset class="style-forms">
            <label for="data"> Data </label>
            <input type="date" id="data" formControlName="date">
        </fieldset>
        
        <!-- Input de seleção para escolher o horário do atendimento -->
        <fieldset class="style-forms">
            <label for="hour"> Horário </label>
            <input type="time" id="hour" formControlName="hour" min="08:00" max="18:00" step="1800">
        </fieldset>
        
        <!-- Input para escolher qual profissional irá realizar o atendimento -->
        <fieldset class="style-forms">
            <label for="professional"> Profissional </label>
            <select id="professional" formControlName="professional">
                <option value="cezaniltom">Cezaniltom</option>
                <option value="daniel">Daniel</option>
                <option value="felipe">Felipe</option>
                <option value="marcely">Marcely</option>
                <option value="natalia">Natalia</option>
            </select>
        </fieldset>
        
        
        <button type="submit" id="btn-submit" class="btn-confirma-agendamento">Agendar</button>
        

    </form>


</section>
