@use "../../scss/variables" as var;

.section-form {
    color: var.$Branco;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 1200px;
    margin: auto;

    h2 {
        font-size: 1.5rem;
    }

    label {
        font-size: 1rem;
        font-weight: 700;
    }

    #form-select {
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        .style-forms {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 0.8rem;
            border: none;
            border-radius: 1rem;
            gap: 0.5rem;
            padding: 1rem;
            border: none;
            border-radius: 5px;
            background-color: var.$Rosa-avermelhado-opaco;
            color: var.$Branco;
            height: 50px;
            
            input[type="date"]::-webkit-calendar-picker-indicator,
            input[type="time"]::-webkit-calendar-picker-indicator {
                filter: invert(1);
                cursor: pointer;
            }
            input, select {            
                display: flex;
                padding: .5rem;
                justify-content: center;
                cursor: pointer;
            }
            input:focus, select:focus{
                outline: 2px solid var.$Rosa-avermelhado;
            }
        }

    }

    #service, #hour, #data, #professional {
        background-color: var.$Rosa-avermelhado;
        color: var.$Branco;
        border: 1px solid var.$Branco;
        border-radius: 5px;
        padding: 0.25rem;
        cursor: pointer;
    }

    .btn-confirma-agendamento {
        border: none;
        height: 50px;
        padding: 0 1.5rem;
        border-radius: 5px;
        background-color: var.$Rosa-avermelhado;
        color: var.$Branco;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: opacity .3s ease;
        &:hover {
            opacity: .7;
        };
    }
}





