@use "../../scss/variables" as var;

.section-form {
    color: var.$Branco;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;


    #form-select {
        width: 50%;
        height: 70%;
        display: flex;
        background-color: var.$Azul-escuro;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        border-radius: 2rem;

        .style-forms {
            display: flex;
            justify-content: space-between;
            padding: 1.6rem;
            margin-bottom: 10px;
            border: none;
            border-radius: 1rem;
            background-color: var.$Rosa-avermelhado;
            color: var.$Branco;
        }
    }
}
