<div>    
    <header>
        <h1>Faça seu Login</h1>
    </header>
    
    <main>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">            
            <input 
                type="text" 
                id="username" 
                formControlName="username" 
                placeholder="Usuário" 
                class="inputs" 
                required 
                [(ngModel)]="nome">                                  
            <input type="password" id="password" formControlName="password" placeholder="Senha" class="inputs" required>                
            <input type="submit" value="Acessar" class="botao">
        </form>
    </main>
    
    <footer>
        <p>© 2024. Todos os direitos reservados | Inspirado no Design de Loids</p>
        <p><a href="#">Termos de Uso</a></p>
    </footer>
</div>
