<body>    
    <header>
        <h1>Faça seu Login</h1>
    </header>
    
    <main>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Your Username" required>
            <input type="text" name="password" placeholder="Your Password" required/>
            <input type="submit" value="Submit">    
        </form>
    </main>
    
    <footer>
        <p>2024. All Rights Reserved | Inspired by Loids Design</p>
        <p>Terms Of Use</p>
    </footer>
</body>
